<%@song.each do |x|%>
<%= x.title %>
<%= x.released %>
<%= x.release_year %>
<%= x.artist_name %>
<%= x.genre %>
<% end %>

<%= form_tag song_path(@song.id) do %>
  <%= submit_tag "Submit" %>
<% end %>

<h2><%= @song.name %></h2>
<%= @song.email %>
<%= form_tag song_path(@song.id), method: "delete" do %>
  <%= submit_tag "Delete #{@song.name}" %>
<% end %>
