<%@song.each do |x|%>
<%= x.title %>
<%= x.released %>
<%= x.release_year %>
<%= x.artist_name %>
<%= x.genre %>
<% end %>

<h3>Post Songs</h3>

<%= form_for(@song) do |f| %>
  <%= f.text_field :title %><br>
  <%= f.text_field :description %><br>

  <%= f.submit %>
<% end %>

<h2><%= @song.name %></h2>
<%= @song.email %>
<%= form_tag song_path(@song.id), method: "delete" do %>
  <%= submit_tag "Delete #{@song.name}" %>
<% end %>
